<table id='profile'>
<% content_for :h1 do %>
  <h1>Profile</h1>
<% end %>
  <tr valign=top>
    <td>
      <litem>User Email:</litem>
    </td><td>
      <p class='ritem'><%= @user.email %></p>
    </td>

  <tr valign=top>
    <td>
      <litem>Progress</litem>
    </td><td>
      <body onload="drawszlider(130, (<%=@user.credit_hours%>));"> 
      <div id="szlider">
    <div id="szliderbar">
    </div>
    <div id="szazalek">
    </div>
</div>
    </td>
    
  </tr>

  <tr valign=top>
    <td>
      <litem>Schedule</litem>
    </td><td>
      <p class='ritem'>
        <%= link_to 'See my Schedule', '/schedule' %> 
      </p>
    </td>
  </tr>
<tr valign=top>
<td>
<litem>Transcript History</litem>
</td><td>
<p class='ritem'>
  <% @user.transcript.each do |c| %>
    Year: <%= c.year %> Name: <%= c.name %> Number: <%= c.string %> Grade: <%= c.grade %><br />
  <% end %>
</p>
</td></tr>
<tr valign=top>
<td>
<litem>GPA</litem>
</td><td>
<p class='ritem'>
  <%= "%.3f" % @user.gpa %>
</p>
</td></tr>

</table>
