<% provide(:title, 'Transcript') %>
<% content_for :h1 do %>
  <h1>Upload Transcript</h1>
<% end %>

<table class="table table-hover table-bordered">
  <tr class='subhead'>
    <th colspan="5">Your transcript</th>
  </tr>
  <tr class='transcript' >
    <td>Year</td><td>Course</td><td>Course name</td><td>Grade</td><td align='center'>Remove?</td>
  </tr>
  <% @user.transcript.each do |c| %>
  <tr class='item'>
    <td><%= c.year %></td>
    <td><%= c.string %></td>
    <td><%= c.name %></td>
    <td><%= c.grade %></td>
    <td align='center'><%= link_to "Remove", :controller => 'uploads', :action => 'delete_credit', :id => c.id %></td>

  </tr>
  <% end %>
  <tr class='subhead'>
    <td colspan='4' align='right'>GPA</td><td align='center'><%= "%.3f" % @user.gpa %></td>
  </tr>

</table>

<br />
<br />
  <div class="hero-unit">
    Please only upload text (.txt) versions of unofficial UMass transcripts. Do this by copying the PDF and pasting it into a text file. Thank you:) 
  </div>

<div >
   <%= render 'uploads/uploadTranscript' %>
</div>

<div >
   <%= render 'uploads/uploadCourse' %>
</div>
