<% content_for :h1 do %>
  <h1>Schedule</h1>
<% end %>

<link href="/assets/times.css" media="all" rel="stylesheet" />
<select id="schedule_options">
</select>
<br/>

<div id='schedule-table' align="center">
<table class='schedule' align="right">
  <tr>
    <th><a id='delete_button' class ='btn btn-danger'>Delete Schedule</a></th>
    </table>
    <br>
    <br>
    </div>
    
   
  <div id="dayrow" class="day_row" style="background:lightblue;" class="styleguide-color">
  
  
  
  <div id="daytime" class="time_column">
    <div class="time header">Time</div>
    <!-- 7 - 11, every half hour. -->
    <% (7..22).each do |num|
      height = 30 # minutes.
      meridian = num >= 12 ? "PM" : "AM"
      num -= 12 if num > 12
      num = 12 if num == 0
      %>

      <div class="time_reference" style="height:<%= height %>px;max-height:<%= height %>px;"><%= "#{num}:00#{meridian}" %></div>
      <div class="time_reference" style="height:<%= height %>px;max-height:<%= height %>px;"><%= "#{num}:30#{meridian}" %></div>
    <% end %>

</div>
<%
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

days.each do |day| %>
    <div id="<%= day.downcase %>" class="day_column">
        <div class="time header"><%= day %></div>
    </div>


<% end %>

</div>

<script>
  var schedules = [];
  var schedule_lookup = {};
  var cur_schedule_id = null;
  var cur_schedule = null;
  var days = <%= raw(JSON.pretty_generate(days.as_json)) %>;
  var short_days = $.map(days, function(day){return day[0];});

  function handle_status(status) {
    console.log("handle_status");
    var message = null;
    if (status.hasOwnProperty("message")) {
      message = status["message"];
    } else {
      message = "Unknown problem.";
    }
    var alert = '<div class="alert fade in alert-' + (status["success"] ? 'success' : 'error') + '"><button class="close" data-dismiss="alert">×</button>' + message + '</div>';
    $("#alerts").append(alert);
  }

  function get_schedules(callback) {
    console.log("get_schedules");
    $.ajax({
      type: 'POST',
      url: "/schedule/list", data: "",
      success: function(response) {
        if (response["success"]) {
          schedules = response["schedules"];
          callback();
        }
        handle_status(response);
      },
      dataType: "json"
    });
  }

  function set_schedule(id) {
    cur_schedule_id = id;
    cur_schedule = schedule_lookup[id];
  }

  function load_schedules() {
    console.log("load_schedules");
    var parent = $("#schedule_options").empty();
    $(".class").remove();
    $(".skip").remove();
    for (var i = 0; i < schedules.length; ++i) {
      var schedule = schedules[i];
      var id = schedule["id"];
      schedule_lookup[id] = schedule;
      $("#schedule_options").append($("<option value='" + schedule['id'] + "'>" + schedule['name'] + "</option>"));
    }
    set_schedule(schedules[0]["id"]);
    load();
  }

  function load() {
    console.log("load");
    var min = 420;
    var min_str = "7:00";
    var max = 1380;
    var max_str = "23:00";
    $.each(days, function(idx, day) {
      var last = min;
      var last_str = min_str;

      var letter = day[0];
      var sections = cur_schedule["sections"].sort(function(a,b){return a["min_start"] - b["min_start"];});
      var day_col = $("#" + day.toLowerCase());

      $.each(sections, function(idx, section) {
        if (section && section.hasOwnProperty("days") && section["days"].indexOf(letter) >= 0) {
          var min_start = section["min_start"];
          var start_s = section["time_start"];
          var min_end = section["min_end"];
          var end_s = section["time_end"];
          var gap_size = min_start - last;
          var sec_size = min_end - min_start;
          $("#" + day.toLowerCase()).append("<div style=\"height: " + gap_size + "px;max-height: " + gap_size + "px;\" class=\"skip\"></div>");
          $("#" + day.toLowerCase()).append("<div style=\"height: " + sec_size + "px;max-height: " + sec_size + "px;\" class=\"class time\">" + start_s + " - " + end_s + '<br />' + section["spire_id"] + ": " + section["name"] + "</div>");
          last = min_end;
          last_str = end_s;
        }
      });
      var last_size = (max - last);
      $("#" + day.toLowerCase()).append("<div style=\"height: " + last_size + "px;max-height: " + last_size + "px;\" class=\"skip\"></div>");
    });
  }

  function get() {
    var request = { 'id': cur_schedule_id }
    $.ajax({
      type: 'POST',
      contentType: "application/json",
      url: "/schedule/get", data: JSON.stringify(request),
      success: function(response) {
        handle_status(response);
        if (response["success"] == true) {
          schedules = response["schedule"];
          cur_schedule = schedules[0];
          load();
        }
      },
      dataType: "json"
    });
  }

  function destroy(callback) {
    console.log("destroy");
    var request = { 'id': cur_schedule_id }
    $.ajax({
      type: 'POST',
      contentType: "application/json",
      url: "/schedule/destroy", data: JSON.stringify(request),
      success: function(response) {
        window.location = "<$= schedule_path %>";
      },
      dataType: "json"
    });
  }

  function delete_clicked() {
    destroy(function(){get_schedules(load_schedules);});
  }

  function start() {
    $("#delete_button").bind("click", delete_clicked);
    $("#schedule_options").change(function() {
                            var id = $("option:selected", this).val();
                            if (id != cur_schedule_id) {
                              /**
                               * TODO: unload_schedule
                               * or make the schedule disappear
                               */
                              set_schedule(id);
                              load();
                            }
                          });
    get_schedules(load_schedules);
  }

  $(start);
</script>
