


<% if user_signed_in? %>
<ul class="nav nav-tabs nav-stacked">
  <li>  <%= link_to "Profile","/user/#{current_user.id}"%> </li>
  <li><%= link_to "Advisor", "/advisor" %></li>
  <li><%= link_to "Schedule", "/schedule"  %></li>
  <li><%= link_to "Transcript", "/user/transcript/"  %></li>
</ul>
<% else %>
<ul class="nav nav-tabs nav-stacked" id ="navstyle">
  <li><%= link_to "What's new", "/"  %></li>
  <li><%= link_to "Sign in", new_user_session_path %></li>
</ul>
<% end %>
